.hp-container {
	font-size: 1rem;
	text-align: justify;
}

// .hp-app-description-container {}

// .hp-app-description {}

// .hp-app-get-started-container {}

.hp-app-get-started-container {
	margin-top: 20px;
	font-size: 1rem;
}