.hp-container {
	font-size: $normalFontSize;
	font-weight: 300;
}

// .hp-app-description-container {}

// .hp-app-description {}

// .hp-app-get-started-container {}

.hp-app-get-started {
	font-size: $labelFontSizeMedium;
	font-weight: 300;
}