.ic-container {
	background-color: white;
	// box-shadow: 0 0 0 0.2rem $boxShadowColor;
	border: solid 0.2rem $boxShadowColor;
	border-radius: 10px;
	display: inline-block;
	@include setPaddingAndMargin(0, 5px);
	position: relative;
	width: 35vw;
	height: 110px;
	max-width: 150px;
	max-height: 130px;
}

.ic-buttons-container {
	font-size: $smallFontSize;
	position: absolute;
	right: 3px;
	bottom: 3px;
}

.ic-button {

	border: none;
	outline: none !important;
	width: 28px;
	height: 18px;
	text-align: center;
	padding: 0;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
	font-weight: bolder;
	margin-left: 2px;
	border-radius: 3px;
	user-select: none;

	&.pos {
		background-color: $secondaryAccentColor;

		&:active {
			background-color: $secondaryAccentColorDark;
		}
	}

	&.neg {
		background-color: $primaryAccentColor;

		&:active {
			background-color: $primaryAccentColorDark;
		}
	}

}

.ic-buttons-plus {
	margin-bottom: 3px;
}

.remove {
	color: white;
	background-color: $primaryAccentColor;
	position: absolute;
	padding: 0;
	width: 20px;
	height: 25px;
	top: -0.2rem;
	right: -0.2rem;
	border-radius: 0 10px 0 10px;
	box-shadow: inset -3px 3px 0 0 $boxShadowColor;

	&:active {
		background-color: $primaryAccentColorDark;
	}
}

.ic-heading-container {
	height: 60px;
	// border: solid 1px blue;
	padding: 5px;
	overflow-x: scroll;
}

.ic-heading {
	display: block;
	font-size: $normalFontSize;
	overflow: scroll;
	line-height: 1.2rem;
	word-wrap: break-word;
	font-weight: 500;
	// font-family: "LemonJelly";
}

.ic-quantity {
	position: absolute;
	font-size: $mediumFontSize;
	right: 1.5px;
	bottom: 40px;
	margin-bottom: 5px;
	user-select: none;
}

.fridge-ingredients-container {
	text-align: center;
}