.ic-buttons-container {
	font-size: $smallFontSize;
	position: absolute;
	right: 3px;
	bottom: 3px;
	opacity: 0;
	@include transition(opacity 0.15s);
}

.ic-container {
	background-color: white;
	border: solid 0.2rem $boxShadowColor;
	border-radius: 10px;
	display: inline-block;
	@include setPaddingAndMargin(0, 5px);
	position: relative;
	width: 35vw;
	height: 110px;
	max-width: 150px;
	max-height: 130px;

	&.point {
		&:hover {
			cursor: pointer;
		}
	}
}

.ic-button {

	border: none;
	outline: none !important;
	width: 25px;
	height: 25px;
	text-align: center;
	padding: 0;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
	font-weight: bolder;
	margin-left: 2px;
	border-radius: 3px;
	user-select: none;
	margin-bottom: 2px;
	&.pos {
		background-color: $secondaryAccentColor;

		&:active {
			background-color: $secondaryAccentColorDark;
		}
	}

	&.neg {
		background-color: $primaryAccentColor;

		&:active {
			background-color: $primaryAccentColorDark;
		}
	}

}

.ic-buttons-plus {
	line-height: 1.2;

	&::before {
		content: "+";
		font-family: monospace;
		font-size: $normalFontSize;
		user-select: none;
	}
}

.ic-buttons-minus {
	line-height: 1.2;

	&::before {
		content: "-";
		font-family: monospace;
		font-size: $normalFontSize;
		user-select: none;
	}
}

.remove {
	color: white;
	background-color: $boxShadowColor;
	position: absolute;
	padding: 0;
	width: 20px;
	height: 20px;
	top: 0;
	right: 0;
	border-radius: 0 7px;
	line-height: 1;
	padding-bottom: 3px;
	&:active {
		background-color: $primaryAccentColorDark;
	}
}

.ic-heading-container {
	height: 60px;
	width: 80%;
	margin: 0 10%;
	// border: solid 1px blue;
	padding: 2px;
	overflow: hidden;
}

.ic-heading {
	display: block;
	font-size: $normalFontSize;
	overflow: hidden;
	line-height: 1.2rem;
	word-wrap: break-word;
	// font-weight: 500;
	padding-top: 10px;
}

.ic-heading-label {
	position: absolute;
	user-select: none;
	padding-left: 4px;
	box-shadow: 1px 1px 0 1px $boxShadowColor;
	height: 12px;
	width: 36px;
	border-radius: 7px 0;

	&.cat1 {
		background-color: $categoryColor1;
	}

	&.cat2 {
		background-color: $categoryColor2;
	}

	&.cat3 {
		background-color: $categoryColor3;
	}

	&.cat4 {
		background-color: $categoryColor4;
	}

	&.cat5 {
		background-color: $categoryColor5;
	}

	&.cat6 {
		background-color: $categoryColor6;
	}

	&.cat7 {
		background-color: $categoryColor7;
	}

	&.cat8 {
		background-color: $categoryColor8;
	}

	&.cat9 {
		background-color: $categoryColor9;
	}

}

.ic-weight {
	position: absolute;
	font-size: $mediumFontSize;
	right: 1.5px;
	bottom: 0;
	margin-bottom: 5px;
	// user-select: none;
	@include transition(bottom 0.15s);
	@include transition(opacity 0.15s);
}

.fridge-ingredients-container {
	text-align: center;
}

.react-select-option {
	&:hover {
		background-color: rgba(35, 156, 255, 0.25);
	}
}

.ic-weight-input {
	position: absolute;
	width: 50%;
	right: 15px;
	bottom: 5px;
	text-align: right;
	border-radius: 5px;
	border: none;
	background-color: $backgroundColorDark;
	height: 25px;
	font-size: $mediumFontSize;
}

.ic-weight-input-suffix {
	position: absolute;
	right: 1.5px;
	bottom: 5px;
	font-size: $mediumFontSize;
}

.ic-weight-buttons-container {
	position: absolute;
	bottom: 0;
}