.mc-container {
	box-shadow: 0px 5px 15px -5px $boxShadowColor;
	border-radius: 10px;
	background-color: white;
	position: relative;
	margin-bottom: 40px;
}

.mc-recipe-heading {
	font-size: $labelFontSize;
}

.planned-date-container {
	text-align: right;
}

.mc-subheading {
	font-family: "Frenchpress";
	font-size: $labelFontSizeLarge;
	user-select: none;
	color: $mainTextColorLighter;
	line-height: 1.15;
}

.mc-image {
	width: 100%;
	object-fit: cover;
	height: 300px;
	border-radius: 10px;
}

.mc-instructions-ol {
	text-align: justify;
	padding-inline-start: 15px;

	& * {
		padding-bottom: 5px;
	}
}

.mc-delete-meal {
	width: 15%;
	position: absolute;
	left: 12px;
	border: 1px solid #ced4da;
	background-color: white;
	outline: none;
	border-radius: 0.25rem;
	height: 38px;
	color: $mainTextColorTransparent;
	font-weight: bold;
	@include transition(color 0.15s, background-color 0.15s, box-shadow 0.15s);
	font-size: $normalFontSize;
	padding: 0;
	user-select: none;
	&:hover {
		background-color: $primaryAccentColor;
		color: white;
	}

	&:active {
		background-color: red;
		color: white;
		box-shadow: $mainBoxShadow;
	}

	&:focus {
		box-shadow: $mainBoxShadow !important;
		outline: none;
	}
}