.bg-dark {
	background-color: $mainTextColor !important;
}

.nav-link, .dropdown-item {
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	border-bottom: solid 2px white;
	margin-right: 10px;
	// border-radius: 0 0 0px 25px;

	&:hover {
		color: white;
		text-decoration: none;
		border-bottom: solid 2px $primaryAccentColor;

		& div.nav-item {
			color: white;
		}
	}

	& div.nav-item {
		padding: 0 10px 0 10px;
	}

	&.active {
		color: $primaryAccentColor;
		text-decoration: none;
		border-bottom: solid 2px $primaryAccentColor;

		& div.nav-item {
			color: $primaryAccentColor;

		}
	}
}

a.nav-link {
	color: rgba(255, 255, 255, 0.5);
	padding: 8px;
	margin-bottom: 15px;
	margin-top: 5px;
	user-select: none;
}

a.dropdown-item {
	color: $mainTextColor;
	padding: 8px;
	margin-bottom: 15px;
	margin-top: 5px;
	user-select: none;

	&:hover {
	color: $mainTextColor;

	}
}

// div.dropdown-menu.show {
// 	background-color: $mainTextColor;

// }

.btn-outline-success {
	font-weight: 600;
	color: $primaryAccentColor;
	border-color: $primaryAccentColor !important;

	&:hover {
		color: #fff;
		background-color: $primaryAccentColor;
		border-color: $primaryAccentColor;
	}

	&:active {
		color: #fff;
		background-color: $primaryAccentColor !important;
		border-color: $primaryAccentColor !important;
	}

	&:focus {
		box-shadow: $mainBoxShadow !important;
	}
}

.form-control {
	&:focus {
		box-shadow: $mainBoxShadow !important;
		border-color: $mainTextColor !important;
	}
}

.form-inline {
	justify-content: space-around;
}