.page-header-text {
	font-size: $headingFontSize;
	font-family: "Frenchpress";
	color: $primaryAccentColor;
	line-height: 3rem;
	text-align: center;
	user-select: none;
	padding-right: 75px;
	padding-left: 75px;
}