$containerHeight: calc(12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300)));
$fadeMargin: calc(-1 * (12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300))));
$minimumHeight: 125px;
$minimumWidth: 165px;

.rc-container {
	@include setPaddingAndMargin(0, 10px);
	box-shadow: 0px 5px 15px -5px $boxShadowColor;
	border-radius: 10px 10px 10px 10px;
	height: $containerHeight;
	background-color: white;
	position: relative;
	margin-bottom: 200px;
}

.rc-image-container {
	height: $containerHeight;
	// min-height: $minimumHeight;
	width: 20vw;
	min-width: $minimumWidth;

	&::after {
		display: block;
		position: relative;
		background-image: linear-gradient(to right, transparent 9%, white 95%);
		height: $containerHeight;
		margin-top: $fadeMargin;
		// min-height: $minimumHeight;
		min-width: $minimumWidth;
		width: 100%;
		content: '';
	}
}

.rc-image {
	object-fit: cover;
	height: $containerHeight;
	// min-height: $minimumHeight;
	min-width: $minimumWidth;
	width: 100%;
	border-radius: 10px 0 0 10px;
}

.rc-label {
	position: absolute;
	right: 0;
	top: 0;
	font-size: $labelFontSize;
}