$containerHeight: 12.5vh;
$minimumHeight: 125px;

.rc-container {
	@include setPaddingAndMargin(0, 10px);
	box-shadow: 0px 5px 15px -5px $boxShadowColor;
	border-radius: 10px 10px 10px 10px;
	height: $containerHeight;
	background-color: white;
	margin-bottom: 20px;
	position: relative;
	min-height: $minimumHeight;

}

.rc-image-container {
	height: $containerHeight;
	min-height: $minimumHeight;
	width: 20vw;

	&::after {
		display: block;
		position: relative;
		background-image: linear-gradient(to right, transparent 9%, white 95%);
		height: $containerHeight;
		margin-top: -$minimumHeight;
		min-height: $minimumHeight;
		width: 100%;
		content: '';
	}
}

.rc-image {
	object-fit: cover;
	height: $containerHeight;
	min-height: $minimumHeight;
	width: 100%;
	border-radius: 10px 0 0 10px;
}

.rc-label {
	position: absolute;
	right: 10%;
	top: 0;
	font-size: 1.6rem;
}

a {
	color: $primaryAccentColor;
	font-style: italic;
	text-decoration: none;
	border-bottom: solid 2px white;

	&:hover {
		color: $primaryAccentColor;
		text-decoration: none;
		border-bottom: solid 2px $primaryAccentColor;
	}
}