.recipe-form {
	padding-bottom: 250px;
}

.rf-main-info {
	user-select: none;
}

.rf-ingredients-container {
	user-select: none;
}

.rf-ingredients-list-heading, .rf-cooking-instructions-heading {
	font-family: "LemonJelly";
	font-size: $labelFontSizeLarge;
	user-select: none;
	color: $mainTextColorLighter;
	line-height: 1;
}

.rf-description-remaining-characters {
	position: absolute;
	font-size: $smallFontSize;
	bottom: 0;
	right: 115px;
	font-style: italic;
	color: $mainTextColorTransparent;
	margin-right: -110px;
	margin-bottom: 5px;
	width: 100px;
	text-align: center;
	user-select: none;
	line-height: 1;
}

.rf-instructions-container {
	position: relative;
}

.rf-instructions-remaining-characters {
	position: absolute;
	font-size: $smallFontSize;
	bottom: -20px;
	left: 0;
	font-style: italic;
	color: $mainTextColorTransparent;
	margin-right: -110px;
	margin-bottom: 5px;
	width: 200px;
	text-align: center;
	user-select: none;
	// line-height: 1;
}

.rf-new-ingredient-button, .rf-new-instruction-button {
	width: 100%;
	border: 1px solid #ced4da;
	background-color: white;
	outline: none;
	border-radius: 0.25rem;
	height: 38px;
	color: $mainTextColorTransparent;
	font-weight: bold;
	@include transition(color 0.15s, background-color 0.15s, box-shadow 0.15s);
	font-size: $labelFontSize;
	font-weight: 600;
	padding: 0 0 44px 0;
	margin-top: 10px;
	user-select: none;
	&:hover {
		background-color: $secondaryAccentColor;
		color: white;
	}

	&:active {
		background-color: $secondaryAccentColorDark;
		box-shadow: $mainBoxShadow;
		color: white;
	}

	&:focus {
		box-shadow: $mainBoxShadow !important;
		outline: none;
	}
}

.rf-new-instruction-button {
	margin-top: 5px;
}

.rf-instructions-row {
	// margin-top: 5px;
	margin-bottom: 15px;
}

.rf-remove-ingredient, .rf-remove-instruction {
	width: 100%;
	border: 1px solid #ced4da;
	background-color: white;
	outline: none;
	border-radius: 0.25rem;
	height: 38px;
	color: $mainTextColorTransparent;
	font-weight: bold;
	@include transition(color 0.15s, background-color 0.15s, box-shadow 0.15s);
	font-size: $smallFontSize;
	padding: 0;
	user-select: none;
	&:hover {
		background-color: $primaryAccentColor;
		color: white;
	}

	&:active {
		background-color: red;
		color: white;
		box-shadow: $mainBoxShadow;
	}

	&:focus {
		box-shadow: $mainBoxShadow !important;
		outline: none;
	}
}

.rf-remove-instruction {
	height: 60px;
}

.rf-remove-margin {
	padding: 0 4px;
}

.row {
	padding: 0 15px;
}

.mb-3 {
	margin-bottom: 5px !important;
}

.input-group-prepend, .input-group-append {
	user-select: none;
}