.rc-labels-missing-items {
	display: inline-block;
	& .rc-labels-missing-items-none {
		border: 2px solid lightgreen;
		background-color: $secondaryAccentColorTransparent;
		padding: 0 1px;
		border-radius: 3px;
	}

	& .rc-labels-missing-items-some {
		border: 2px solid $primaryAccentColor;
		background-color: $primaryAccentColorTransparent;
		padding: 0 1px;
		border-radius: 3px;
	}
}

.rc-labels-vegetarian {
	border: 2px solid $ternaryAccentColor;
	background-color: $ternaryAccentColorTransparent;
	padding: 0 1px;
	border-radius: 3px;
}

.rc-labels-container {
	user-select: none;
	position: absolute;
	bottom: 0;
	margin-bottom: -20px;
	padding-left: 5px;
	padding-top: 5px;
	font-size: $smallFontSize;
	display: block;
	& .label {
		margin-right: 5px;
	}
}