.rp-image {
	width: 100%;
	object-fit: cover;
	height: 300px;
	border-radius: 10px;
}

.rp-description {
	font-size: $normalFontSize;
	text-align: justify;
}

.rp-ul-container {
	display: flex;
	align-content: space-around;
}

.rp-ul {
	padding-inline-start: 10%;
	display: block;
	float: left;
	margin: 0;
	list-style-type: none;
	word-wrap: break-word;
	width: 50%;

	& * {
		padding-bottom: 10px;

		&.available {
			&::before {
				content: "✓";
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
				color: $secondaryAccentColor;
				font-weight: bold;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}

		&.not-available {
			&::before {
				content: "✗";
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
				color: $primaryAccentColor;
				font-weight: bold;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}

	}

	&.rp-ingredients-right-ul {
		margin-left: auto;
	}
}

.rp-instructions-ol {
	text-align: justify;
	padding-inline-start: 0;

	& * {
		padding-bottom: 5px;
	}
}

.rp-subheading {
	font-family: "Frenchpress";
	font-size: $labelFontSizeLarge;
	user-select: none;
	color: $mainTextColorLighter;
}

.rp-li-weight {
	font-weight: bolder;
}

.rp-times-container {
	font-size: $normalFontSize;
	text-align: center;
	margin-bottom: 10px;

	& * {
		display: inline-block;
		width: 50%;
	}
}

.rp-servings-container {
	font-size: $labelFontSize;
	margin-bottom: 10px;
}

.rp-servings-button {
	width: 30px;
	border: 1px solid #ced4da;
	background-color: white;
	outline: none;
	border-radius: 0.25rem;
	height: 30px;
	color: $mainTextColorTransparent;
	font-weight: bold;
	@include transition(color 0.15s, background-color 0.15s, box-shadow 0.15s);
	font-weight: 600;
	padding: 0;
	user-select: none;
	margin-left: 5px;
	line-height: 0;
	margin-bottom: 5px;
	&.pos {
		&:hover {
			background-color: $secondaryAccentColor;
			color: white;
		}

		&:active {
			background-color: $secondaryAccentColorDark;
			box-shadow: $mainBoxShadow;
			color: white;
		}

		&:focus {
			box-shadow: $mainBoxShadow !important;
			outline: none;
		}
	}

	&.neg {
		&:hover {
			background-color: $primaryAccentColor;
			color: white;
		}

		&:active {
			background-color: $primaryAccentColorDark;
			box-shadow: $mainBoxShadow;
			color: white;
		}

		&:focus {
			box-shadow: $mainBoxShadow !important;
			outline: none;
		}
	}
}

.rf-add-to-meal-plan {
	width: 100%;
	border: 1px solid #ced4da;
	background-color: white;
	outline: none;
	border-radius: 0.25rem;
	height: 38px;
	color: $mainTextColorTransparent;
	font-weight: bold;
	@include transition(color 0.15s, background-color 0.15s, box-shadow 0.15s);
	font-size: $labelFontSize;
	font-weight: 600;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 40px;
	user-select: none;
	&:hover {
		background-color: $secondaryAccentColor;
		color: white;
	}

	&:active {
		background-color: $secondaryAccentColorDark;
		box-shadow: $mainBoxShadow;
		color: white;
	}

	&:focus {
		box-shadow: $mainBoxShadow !important;
		outline: none;
	}
}