$containerHeight: calc(23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300)));
$fadeMargin: calc(-1 * (23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300))));
$minimumWidth: 40%;

.rc-container {
	// @include setPaddingAndMargin(0, 10px);
	box-shadow: 0px 5px 15px -5px $boxShadowColor;
	border-radius: 10px;
	height: $containerHeight;
	background-color: white;
	position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
}

.rc-image-container {
	// position: absolute;
	top: 0;
	height: $containerHeight;
	user-select: none;
	margin-left: 60%;
	width: 40%;
	min-width: $minimumWidth;
	// z-index: -0;
	&::after {
		display: block;
		position: relative;
		background-image: linear-gradient(to left, transparent 9%, white 95%);
		height: $containerHeight;
		margin-top: $fadeMargin;
		// min-height: $minimumHeight;
		min-width: $minimumWidth;
		width: 100%;
		content: '';
		// z-index: -1;
	}
}

.rc-image {
	object-fit: cover;
	height: $containerHeight;
	// min-height: $minimumHeight;
	min-width: $minimumWidth;
	width: 100%;
	border-radius: 0 10px 10px 0;
}

.rc-title-container {
	position: absolute;
	top: 0;
	width: 100%;
	left: 5px;
}

.rc-title {
	// position: absolute;
	left: 0;
	top: 0;
	font-size: $labelFontSize;
	padding-left: 5px;
	z-index: 2;
}

.rc-description-container {
	position: absolute;
	width: 75%;
	bottom: 7px;
	left: 5px;
}

.rc-description {
	// left: 0;
	// bottom: 0;
	font-size: $normalFontSize;
	padding-left: 5px;
	padding-bottom: 5px;
}

.rc-servings-and-times-container {
	font-size: $smallFontSize;
	text-align: center;
	& * {
		display: inline-block;
		width: 33.3333%;
	}
}