.sr-search-button {
	width: 100%;
	border: 1px solid #ced4da;
	background-color: white;
	outline: none;
	border-radius: 0.25rem;
	height: 38px;
	color: $mainTextColorTransparent;
	font-weight: bold;
	@include transition(color 0.15s, background-color 0.15s, box-shadow 0.15s);
	font-size: $normalFontSize;
	padding: 0;
	user-select: none;

	&:hover {
		background-color: $secondaryAccentColor;
		color: white;

		&:disabled {
			background-color: $primaryAccentColorDark;
			color: white;
			box-shadow: $mainBoxShadow;
		}
	}

	&:active {
		background-color: $secondaryAccentColorDark;
		color: white;
		box-shadow: $mainBoxShadow;
	}


	&:focus {
		box-shadow: $mainBoxShadow !important;
		outline: none;
	}
}