body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $mainTextColor;
	background-color: $backgroundColor;
}

a {
	color: $primaryAccentColor;
	font-style: italic;
	text-decoration: none;
	border-bottom: solid 2px white;

	&:hover {
		color: $primaryAccentColor;
		text-decoration: none;
		border-bottom: solid 2px $primaryAccentColor;
	}
}