html {
	overflow-y: scroll;
	margin-left: calc(100vw - 100%);
	margin-right: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $mainTextColor;
	background-color: $backgroundColor;
	font-size: $normalFontSize;
}

a {
	color: $mainTextColor;
	// font-style: italic;
	text-decoration: none;
	border-bottom: 2px solid $primaryAccentColor;

	&:hover {
		color: $mainTextColorLighter;
		text-decoration: none;
		border-bottom: solid 2px $primaryAccentColorDark;
	}
}

@media (min-width: 1440px) {
	& .col-xxl {
		flex: 0 0 66%;
		max-width: 1111px;
	}
}