$boxShadowColor: rgba(0, 0, 0, 0.05);
$backgroundColor: rgb(255, 252, 249);
$backgroundColorDark: rgb(235, 234, 231);
$primaryAccentColor: rgb(255, 99, 71);
$primaryAccentColorDark: rgb(235, 92, 67);
$primaryAccentColorTransparent: rgba(255, 99, 71, 0.2);
// $primaryAccentColor: rgb(255, 70, 109);
$secondaryAccentColor: rgb(196, 255, 134);
$secondaryAccentColorDark: rgb(176, 228, 120);
$secondaryAccentColorTransparent: rgba(196, 255, 134, 0.2);
$ternaryAccentColor: rgb(75, 237, 255);
$ternaryAccentColorDark: rgb(69, 217, 235);
$ternaryAccentColorTransparent: rgba(75, 237, 255, 0.2);
// $mainTextColor: #082135;
$mainTextColor: rgb(6, 32, 53);
$mainTextColorLight: rgb(8, 42, 70);
$mainTextColorLighter: rgb(11, 56, 94);
$mainTextColorTransparent: rgba(11, 57, 94, 0.3);
$smallFontSize: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
$mediumFontSize: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
$normalFontSize: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
$largeFontSize: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
$labelFontSize: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
$labelFontSizeMedium: calc(1.8rem + (2.4 - 1.8) * ((100vw - 300px) / (1600 - 300)));
$labelFontSizeLarge: calc(2.4rem + (3.0 - 2.4) * ((100vw - 300px) / (1600 - 300)));
$headingFontSize: calc(4rem + (5.4 - 4.4) * ((100vw - 300px) / (1600 - 300)));
$mainBoxShadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);

$categoryColor1: #ffe0ac;
$categoryColor2: #ffacb7;
$categoryColor3: #6886c5;
$categoryColor4: #85a392;
$categoryColor5: #f5b971;
$categoryColor6: #856c8b;
$categoryColor7: #aabecf;
$categoryColor8: #dcedc1;
$categoryColor9: #f1935c;