$boxShadowColor: rgba(0, 0, 0, 0.05);
$backgroundColor: rgb(255, 252, 249);
$primaryAccentColor: rgb(255, 99, 71);
$primaryAccentColorDark: rgb(235, 92, 67);
// $primaryAccentColor: rgb(255, 70, 109);
$secondaryAccentColor: rgb(196, 255, 134);
$secondaryAccentColorDark: rgb(176, 228, 120);
$ternaryAccentColor: rgb(75, 237, 255);
// $mainTextColor: #082135;
$mainTextColor: rgb(6, 32, 53);
$smallFontSize: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
$mediumFontSize: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
$normalFontSize: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$labelFontSize: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
$headingFontSize: calc(4rem + (5.4 - 4.4) * ((100vw - 300px) / (1600 - 300)));
$mainBoxShadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);

$categoryColor1: #ffe0ac;
$categoryColor2: #ffacb7;
$categoryColor3: #6886c5;
$categoryColor4: #85a392;
$categoryColor5: #f5b971;
$categoryColor6: #856c8b;
$categoryColor7: #aabecf;
$categoryColor8: #dcedc1;
$categoryColor9: #f1935c;