@font-face {
	font-family: 'Frenchpress';
	src: url(../Fonts/Frenchpress.otf) format('opentype');
}
@font-face {
	font-family: 'Raleway';
	src: url(../Fonts/Raleway.ttf) format('truetype');
}

@import "./_variables";
@import "./_mixins";
@import "./semanticElements";
@import "./recipeCards";
@import "./recipeCardLabels";
@import "./recipeForm";
@import "./recipePage";
@import "./ingredientCards";
@import "./pageHeaders";
@import "./homePage";
@import "./aboutPage";
@import "./navbar";
@import "./fridge";
@import "./mealPlanner";