@font-face {
  font-family: 'LemonJelly';
  src: url(../fonts/LemonJelly.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #062035;
  background-color: #fffcf9;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

a {
  color: tomato;
  font-style: italic;
  text-decoration: none;
  border-bottom: solid 2px white;
}

a:hover {
  color: tomato;
  text-decoration: none;
  border-bottom: solid 2px tomato;
}

.rc-container {
  padding: 0;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 10px 10px;
  height: calc(12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300)));
  background-color: white;
  position: relative;
  margin-bottom: 200px;
}

.rc-image-container {
  height: calc(12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300)));
  width: 20vw;
  min-width: 165px;
}

.rc-image-container::after {
  display: block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(9%, transparent), color-stop(95%, white));
  background-image: linear-gradient(to right, transparent 9%, white 95%);
  height: calc(12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300)));
  margin-top: calc(-1 * (12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300))));
  min-width: 165px;
  width: 100%;
  content: '';
}

.rc-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(12.5vh + (15.5 - 12.5) * ((100vw - 300px) / (1000 - 300)));
  min-width: 165px;
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.rc-label {
  position: absolute;
  right: 0;
  top: 0;
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.ic-buttons-container {
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  position: absolute;
  right: 3px;
  bottom: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.ic-container {
  background-color: white;
  border: solid 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: inline-block;
  padding: 0;
  margin: 5px;
  position: relative;
  width: 35vw;
  height: 110px;
  max-width: 150px;
  max-height: 130px;
}

.ic-container:hover .ic-buttons-container {
  opacity: 1;
}

.ic-container:hover .ic-quantity {
  bottom: 36px;
}

.ic-button {
  border: none;
  outline: none !important;
  width: 28px;
  height: 18px;
  text-align: center;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  font-weight: bolder;
  margin-left: 2px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ic-button.pos {
  background-color: #c4ff86;
}

.ic-button.pos:active {
  background-color: #b0e478;
}

.ic-button.neg {
  background-color: tomato;
}

.ic-button.neg:active {
  background-color: #eb5c43;
}

.ic-buttons-plus {
  line-height: 1.2;
}

.ic-buttons-plus::before {
  content: "+";
  font-family: monospace;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ic-buttons-minus {
  line-height: 1.2;
}

.ic-buttons-minus::before {
  content: "-";
  font-family: monospace;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.remove {
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  top: 0;
  right: -1px;
  border-radius: 0 7px;
}

.remove:active {
  background-color: #eb5c43;
}

.ic-heading-container {
  height: 60px;
  width: 80%;
  margin: 0 10%;
  padding: 2px;
  overflow-x: scroll;
}

.ic-heading {
  display: block;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  overflow: scroll;
  line-height: 1.2rem;
  word-wrap: break-word;
  font-weight: 500;
  padding-top: 10px;
}

.ic-heading-label {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 4px;
  -webkit-box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
  height: 12px;
  width: 36px;
  border-radius: 7px 0;
}

.ic-heading-label.cat1 {
  background-color: #ffe0ac;
}

.ic-heading-label.cat2 {
  background-color: #ffacb7;
}

.ic-heading-label.cat3 {
  background-color: #6886c5;
}

.ic-heading-label.cat4 {
  background-color: #85a392;
}

.ic-heading-label.cat5 {
  background-color: #f5b971;
}

.ic-heading-label.cat6 {
  background-color: #856c8b;
}

.ic-heading-label.cat7 {
  background-color: #aabecf;
}

.ic-heading-label.cat8 {
  background-color: #dcedc1;
}

.ic-heading-label.cat9 {
  background-color: #f1935c;
}

.ic-quantity {
  position: absolute;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
  right: 1.5px;
  bottom: 0;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: bottom 0.15s;
  transition: bottom 0.15s;
}

.fridge-ingredients-container {
  text-align: center;
}

.page-header-text {
  font-size: calc(4rem + (5.4 - 4.4) * ((100vw - 300px) / (1600 - 300)));
  font-family: "LemonJelly";
  color: tomato;
  line-height: 3rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bg-dark {
  background-color: #062035 !important;
}

.nav-link {
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  border-bottom: solid 2px white;
  margin-right: 10px;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  border-bottom: solid 2px tomato;
}

.nav-link:hover div.nav-item {
  color: white;
}

.nav-link div.nav-item {
  padding: 0 10px 0 10px;
}

.nav-link.active {
  color: tomato;
  text-decoration: none;
  border-bottom: solid 2px tomato;
}

.nav-link.active div.nav-item {
  color: tomato;
}

a.nav-link {
  color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.btn-outline-success {
  font-weight: 600;
  color: tomato;
  border-color: tomato !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: tomato;
  border-color: tomato;
}

.btn-outline-success:active {
  color: #fff;
  background-color: tomato !important;
  border-color: tomato !important;
}

.btn-outline-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  border-color: #062035 !important;
}

.form-inline {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=index.css.map */