@font-face {
	font-family: 'LemonJelly';
	src: url(../fonts/LemonJelly.ttf) format('truetype');
}

@import "./_variables";
@import "./_mixins";
@import "./semanticElements";
@import "./recipeCards";
@import "./ingredientCards";
@import "./pageHeaders";
@import "./navbar";