@charset "UTF-8";
@font-face {
  font-family: 'Frenchpress';
  src: url(../Fonts/Frenchpress.otf) format("opentype");
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway.ttf) format("truetype");
}

html {
  overflow-y: scroll;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #062035;
  background-color: #fffcf9;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
}

a {
  color: #062035;
  text-decoration: none;
  border-bottom: 2px solid tomato;
}

a:hover {
  color: #0b385e;
  text-decoration: none;
  border-bottom: solid 2px #eb5c43;
}

@media (min-width: 1440px) {
  .col-xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
    max-width: 1111px;
  }
}

.rc-container {
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: calc(23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300)));
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rc-image-container {
  top: 0;
  height: calc(23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 60%;
  width: 40%;
  min-width: 40%;
}

.rc-image-container::after {
  display: block;
  position: relative;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(9%, transparent), color-stop(95%, white));
  background-image: linear-gradient(to left, transparent 9%, white 95%);
  height: calc(23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300)));
  margin-top: calc(-1 * (23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300))));
  min-width: 40%;
  width: 100%;
  content: '';
}

.rc-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(23vh + (26 - 23) * ((100vw - 300px) / (1000 - 300)));
  min-width: 40%;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

.rc-title-container {
  position: absolute;
  top: 0;
  width: 100%;
  left: 5px;
}

.rc-title {
  left: 0;
  top: 0;
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
  padding-left: 5px;
  z-index: 2;
}

.rc-description-container {
  position: absolute;
  width: 75%;
  bottom: 7px;
  left: 5px;
}

.rc-description {
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  padding-left: 5px;
  padding-bottom: 5px;
}

.rc-servings-and-times-container {
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.rc-servings-and-times-container * {
  display: inline-block;
  width: 33.3333%;
}

.rc-labels-missing-items {
  display: inline-block;
}

.rc-labels-missing-items .rc-labels-missing-items-none {
  border: 2px solid lightgreen;
  background-color: rgba(196, 255, 134, 0.2);
  padding: 0 1px;
  border-radius: 3px;
}

.rc-labels-missing-items .rc-labels-missing-items-some {
  border: 2px solid tomato;
  background-color: rgba(255, 99, 71, 0.2);
  padding: 0 1px;
  border-radius: 3px;
}

.rc-labels-vegetarian {
  border: 2px solid #4bedff;
  background-color: rgba(75, 237, 255, 0.2);
  padding: 0 1px;
  border-radius: 3px;
}

.rc-labels-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  display: block;
}

.rc-labels-container .label {
  margin-right: 5px;
}

.recipe-form {
  padding-bottom: 250px;
}

.rf-main-info {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-ingredients-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-ingredients-list-heading, .rf-cooking-instructions-heading {
  font-family: "Frenchpress";
  font-size: calc(2.35rem + (2.95 - 2.35) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #0b385e;
  line-height: 1;
}

.rf-description-remaining-characters {
  position: absolute;
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  bottom: 0;
  right: 115px;
  font-style: italic;
  color: rgba(11, 57, 94, 0.3);
  margin-right: -110px;
  margin-bottom: 5px;
  width: 100px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1;
}

.rf-title-remaining-characters {
  position: absolute;
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  bottom: -20px;
  left: 20px;
  font-style: italic;
  color: rgba(11, 57, 94, 0.3);
  margin-right: -110px;
  margin-bottom: 5px;
  width: 200px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-title-row {
  margin-bottom: 10px;
  margin-top: 10px;
}

.rf-instructions-container {
  position: relative;
}

.rf-instructions-remaining-characters {
  position: absolute;
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  bottom: -20px;
  left: 0;
  font-style: italic;
  color: rgba(11, 57, 94, 0.3);
  margin-right: -110px;
  margin-bottom: 5px;
  width: 200px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-new-ingredient-button, .rf-new-instruction-button, .rf-new-recipe-button {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 0;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-new-ingredient-button:hover, .rf-new-instruction-button:hover, .rf-new-recipe-button:hover {
  background-color: #c4ff86;
  color: white;
}

.rf-new-ingredient-button:active, .rf-new-instruction-button:active, .rf-new-recipe-button:active {
  background-color: #b0e478;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.rf-new-ingredient-button:focus, .rf-new-instruction-button:focus, .rf-new-recipe-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.rf-close-form-button {
  position: absolute;
  right: 4px;
  width: 10%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  z-index: 1;
}

.rf-close-form-button:hover {
  background-color: tomato;
  color: white;
}

.rf-close-form-button:active {
  background-color: red;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.rf-close-form-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.rf-instructions-row {
  margin-bottom: 15px;
}

.rf-remove-ingredient, .rf-remove-instruction {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-remove-ingredient:hover, .rf-remove-instruction:hover {
  background-color: tomato;
  color: white;
}

.rf-remove-ingredient:active, .rf-remove-instruction:active {
  background-color: red;
  color: white;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
}

.rf-remove-ingredient:focus, .rf-remove-instruction:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.rf-remove-instruction {
  height: 60px;
}

.rf-remove-margin {
  padding: 0 4px;
}

.row {
  padding: 0 15px;
}

.mb-3 {
  margin-bottom: 5px !important;
}

.input-group-prepend, .input-group-append {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-add-recipe-button {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 0;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-add-recipe-button:hover {
  background-color: #c4ff86;
  color: white;
}

.rf-add-recipe-button:hover:disabled {
  background-color: #eb5c43;
}

.rf-add-recipe-button:active {
  background-color: #b0e478;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.rf-add-recipe-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.rp-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: 10px;
}

.rp-description {
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  text-align: justify;
}

.rp-ul-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.rp-ul {
  -webkit-padding-start: 10%;
          padding-inline-start: 10%;
  display: block;
  float: left;
  margin: 0;
  list-style-type: none;
  word-wrap: break-word;
  width: 50%;
}

.rp-ul * {
  padding-bottom: 10px;
}

.rp-ul *.available::before {
  content: "✓";
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  color: #c4ff86;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.rp-ul *.not-available::before {
  content: "✗";
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  color: tomato;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.rp-ul.rp-ingredients-right-ul {
  margin-left: auto;
}

.rp-instructions-ol {
  text-align: justify;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.rp-instructions-ol * {
  padding-bottom: 5px;
}

.rp-subheading {
  font-family: "Frenchpress";
  font-size: calc(2.35rem + (2.95 - 2.35) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #0b385e;
}

.rp-li-weight {
  font-weight: bolder;
}

.rp-times-container {
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  margin-bottom: 10px;
}

.rp-times-container * {
  display: inline-block;
  width: 50%;
}

.rp-servings-container {
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 10px;
}

.rp-servings-button {
  width: 30px;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 30px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-weight: 600;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 5px;
  line-height: 0;
  margin-bottom: 5px;
}

.rp-servings-button.pos:hover {
  background-color: #c4ff86;
  color: white;
}

.rp-servings-button.pos:active {
  background-color: #b0e478;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.rp-servings-button.pos:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.rp-servings-button.neg:hover {
  background-color: tomato;
  color: white;
}

.rp-servings-button.neg:active {
  background-color: #eb5c43;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.rp-servings-button.neg:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.rf-add-to-meal-plan {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rf-add-to-meal-plan:hover {
  background-color: #c4ff86;
  color: white;
}

.rf-add-to-meal-plan:active {
  background-color: #b0e478;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.rf-add-to-meal-plan:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.modal-close {
  width: 20%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 0;
  margin-top: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-close:hover {
  background-color: tomato;
  color: white;
}

.modal-close:active {
  background-color: red;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.modal-close:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.modal-submit {
  width: 40%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 0;
  margin-top: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-submit:hover {
  background-color: #c4ff86;
  color: white;
}

.modal-submit:active {
  background-color: #b0e478;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.modal-submit:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.ic-buttons-container {
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  position: absolute;
  right: 3px;
  bottom: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.ic-container {
  background-color: white;
  border: solid 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: inline-block;
  padding: 0;
  margin: 5px;
  position: relative;
  width: 35vw;
  height: 110px;
  max-width: 150px;
  max-height: 130px;
}

.ic-container.point:hover {
  cursor: pointer;
}

.ic-button {
  border: none;
  outline: none !important;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  font-weight: bolder;
  margin-left: 2px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 2px;
}

.ic-button.pos {
  background-color: #c4ff86;
}

.ic-button.pos:active {
  background-color: #b0e478;
}

.ic-button.neg {
  background-color: tomato;
}

.ic-button.neg:active {
  background-color: #eb5c43;
}

.ic-buttons-plus {
  line-height: 1.2;
}

.ic-buttons-plus::before {
  content: "+";
  font-family: monospace;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ic-buttons-minus {
  line-height: 1.2;
}

.ic-buttons-minus::before {
  content: "-";
  font-family: monospace;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.remove {
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 0 7px;
  line-height: 1;
  padding-bottom: 3px;
}

.remove:active {
  background-color: #eb5c43;
}

.ic-heading-container {
  height: 60px;
  width: 80%;
  margin: 0 10%;
  padding: 2px;
  overflow: hidden;
}

.ic-heading {
  display: block;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  overflow: hidden;
  word-wrap: break-word;
  padding-top: 10px;
}

.ic-heading-label {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 4px;
  -webkit-box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
  height: 12px;
  width: 36px;
  border-radius: 7px 0;
}

.ic-heading-label.cat1 {
  background-color: #ffe0ac;
}

.ic-heading-label.cat2 {
  background-color: #ffacb7;
}

.ic-heading-label.cat3 {
  background-color: #6886c5;
}

.ic-heading-label.cat4 {
  background-color: #85a392;
}

.ic-heading-label.cat5 {
  background-color: #f5b971;
}

.ic-heading-label.cat6 {
  background-color: #856c8b;
}

.ic-heading-label.cat7 {
  background-color: #aabecf;
}

.ic-heading-label.cat8 {
  background-color: #dcedc1;
}

.ic-heading-label.cat9 {
  background-color: #f1935c;
}

.ic-weight {
  position: absolute;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
  right: 1.5px;
  bottom: 0;
  margin-bottom: 5px;
  -webkit-transition: bottom 0.15s;
  transition: bottom 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.fridge-ingredients-container {
  text-align: center;
}

.react-select-option:hover {
  background-color: rgba(35, 156, 255, 0.25);
}

.ic-weight-input {
  position: absolute;
  width: 50%;
  right: 15px;
  bottom: 5px;
  text-align: right;
  border-radius: 5px;
  border: none;
  background-color: #ebeae7;
  height: 25px;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.ic-weight-input-suffix {
  position: absolute;
  right: 1.5px;
  bottom: 5px;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.ic-weight-buttons-container {
  position: absolute;
  bottom: 0;
}

.page-header-text {
  font-size: calc(4rem + (5.4 - 4.4) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Frenchpress";
  color: tomato;
  line-height: 3rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hp-container {
  font-size: 1rem;
  text-align: justify;
}

.hp-app-get-started-container {
  margin-top: 20px;
  font-size: 1rem;
}

.ap-contact {
  font-size: 1rem;
}

.ap-description {
  display: block;
  font-size: 1rem;
  margin-top: 20px;
  text-align: justify;
}

.ap-packages {
  display: block;
  margin-top: 20px;
  font-size: 1rem;
}

.ap-ul {
  display: block;
  font-size: 1rem;
}

.bg-dark {
  background-color: #062035 !important;
}

.nav-link, .dropdown-item {
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  border-bottom: solid 2px white;
  margin-right: 10px;
}

.nav-link:hover, .dropdown-item:hover {
  color: white;
  text-decoration: none;
  border-bottom: solid 2px tomato;
}

.nav-link:hover div.nav-item, .dropdown-item:hover div.nav-item {
  color: white;
}

.nav-link div.nav-item, .dropdown-item div.nav-item {
  padding: 0 10px 0 10px;
}

.nav-link.active, .dropdown-item.active {
  color: tomato;
  text-decoration: none;
  border-bottom: solid 2px tomato;
}

.nav-link.active div.nav-item, .dropdown-item.active div.nav-item {
  color: tomato;
}

a.nav-link {
  color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a.dropdown-item {
  color: #062035;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a.dropdown-item:hover {
  color: #062035;
}

.btn-outline-success {
  font-weight: 600;
  color: tomato;
  border-color: tomato !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: tomato;
  border-color: tomato;
}

.btn-outline-success:active {
  color: #fff;
  background-color: tomato !important;
  border-color: tomato !important;
}

.btn-outline-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  border-color: #062035 !important;
}

.form-inline {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-to-fridge-container {
  text-align: center;
}

.button-add-to-fridge {
  width: 60%;
  border: none;
  background-color: #062035;
  outline: none;
  border-radius: 10px;
  height: 35px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.button-add-to-fridge:hover {
  background-color: #082a46;
}

.button-add-to-fridge:active {
  background-color: #0b385e;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
}

.button-add-to-fridge:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.fridge-ingredients-filter-container {
  margin-top: 10px;
}

.fridge-ingredients-filter-container * {
  border-radius: 10px;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
}

.mp-week-of-container {
  text-align: center;
}

.mp-week-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 25px;
}

.mp-week-button {
  display: block;
  float: left;
  width: 33.33333%;
  margin: 0 3px;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mp-week-button:hover {
  background-color: #c4ff86;
  color: white;
}

.mp-week-button:active {
  background-color: #b0e478;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
  color: white;
}

.mp-week-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.mp-subheading-container {
  font-family: "Frenchpress";
  font-size: calc(2.35rem + (2.95 - 2.35) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #0b385e;
  line-height: 1.15;
  text-align: center;
}

.mc-container {
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-bottom: 40px;
}

.mc-recipe-heading {
  font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.planned-date-container {
  text-align: right;
}

.mc-subheading {
  font-family: "Frenchpress";
  font-size: calc(2.35rem + (2.95 - 2.35) * ((100vw - 300px) / (1600 - 300)));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #0b385e;
  line-height: 1.15;
}

.mc-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: 10px;
}

.mc-instructions-ol {
  text-align: justify;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

.mc-instructions-ol * {
  padding-bottom: 5px;
}

.mc-delete-meal {
  width: 15%;
  position: absolute;
  left: 12px;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mc-delete-meal:hover {
  background-color: tomato;
  color: white;
}

.mc-delete-meal:active {
  background-color: red;
  color: white;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
}

.mc-delete-meal:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.sli-name-container {
  background-color: white;
  border: solid 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: block;
  position: relative;
  padding: 5px 0;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.sli-name-container.point:hover {
  cursor: pointer;
}

.sli-weight {
  position: absolute;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
  right: 10px;
  bottom: 20px;
}

.sli-name {
  position: absolute;
  bottom: 6px;
}

.sli-weight-input-container {
  position: absolute;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
  right: 10px;
  bottom: 20px;
}

.sli-weight-input {
  position: absolute;
  width: 70px;
  right: 11px;
  bottom: -2px;
  text-align: right;
  border-radius: 5px;
  border: none;
  background-color: #ebeae7;
  height: 25px;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.sli-weight-input-suffix {
  position: absolute;
  right: 0;
  bottom: 0px;
  font-size: calc(11px + (17 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.sli-weight-buttons-container {
  position: relative;
  bottom: 0;
}

.sli-button {
  position: absolute;
  border: none;
  outline: none !important;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  font-weight: bolder;
  margin-left: 2px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: -2px;
}

.sli-button.pos {
  background-color: #c4ff86;
  right: 120px;
}

.sli-button.pos:active {
  background-color: #b0e478;
}

.sli-button.neg {
  background-color: tomato;
  right: 90px;
}

.sli-button.neg:active {
  background-color: #eb5c43;
}

.sli-add-ingredient {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 10px;
  height: 40px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sli-add-ingredient:hover {
  background-color: #c4ff86;
  color: white;
}

.sli-add-ingredient:active {
  background-color: #b0e478;
  color: white;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
}

.sli-add-ingredient:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}

.sr-search-button {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  height: 38px;
  color: rgba(11, 57, 94, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  -webkit-transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sr-search-button:hover {
  background-color: #c4ff86;
  color: white;
}

.sr-search-button:hover:disabled {
  background-color: #eb5c43;
  color: white;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
}

.sr-search-button:active {
  background-color: #b0e478;
  color: white;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5);
}

.sr-search-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.5) !important;
  outline: none;
}
/*# sourceMappingURL=index.css.map */