@font-face {
	font-family: 'Frenchpress';
	src: url(../Fonts/Frenchpress.otf) format('opentype');
}

@import "./_variables";
@import "./_mixins";
@import "./semanticElements";
@import "./recipeCards";
@import "./recipeCardLabels";
@import "./recipeForm";
@import "./ingredientCards";
@import "./pageHeaders";
@import "./homePage";
@import "./navbar";
@import "./fridge";