@import "./_variables";
@import "./_mixins";
@import "./recipeCards";
@import "./pageHeaders";
@import "./navbar";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $mainTextColor;
	background-color: $backgroundColor;
}